.index {
    .slide-fade-enter-active {
        transition: all .60s ease;
    }
    .slide-fade-enter
    /* .slide-fade-leave-active for <2.1.8 */
    {
        transform: translateX(200px);
        opacity: 0;
    }
}
