#home {
    .el-row {
        // margin-top: 20px;
        &.home__title {
            text-align: center;
        }
        &.home__notice {
            i {
                margin-right: 5px;
            }
        }
        &.home__content {
            table {
                width: 100%;
                td {
                    &.isDone {
                        color: #eee;
                    }
                    .el-checkbox {
                        margin-right: 10px;
                    }
                    .el-button {
                        float: right;
                    }
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
        &.home__actoin{
            margin-top: 10px;
        }
    }
}
